<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.matthiasluettermann.ssh-backup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/matthias.luettermann/ssh-backup/ssh-backup.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>14</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/matthias.luettermann/ssh-backup/logs/error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/matthias.luettermann/ssh-backup/logs/output.log</string>
</dict>
</plist>